# Nuxt dev / build / cache
.output
.data
.nuxt
.nitro
.cache

# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.local
